header {
    width: 92.5%;
    margin: 1.5rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .name_wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .header_icon {
            object-fit: cover;
            height: 52.5px;
            aspect-ratio: 1/1;
            margin-right: 5px;
        }
        .header_name {
            font-size: 30px;
            font-weight: 500;
        }
    }
    .nav_links {
        display: flex;
        //align-self: flex-end;
        p {
            font-size: 21px;
            margin: 0 2rem;
            padding: 0.5rem 0.25rem;
            cursor: pointer;
            transition: .15s ease-in-out;
            letter-spacing: 0.25px;
            &:hover {
                transform: translateY(-2px);
            }
        }
    }
    .buttons-wrapper {
        button {
            font-size: 19px;
            font-weight: 500;
            margin: 0 10px;
            padding: 10px 27px;
            border-radius: 25px;
            outline: none;
            border: none;
            border: 2px solid transparent;
            cursor: pointer;
            transition: .25s ease-in-out;
            &.logIn {
                background-color: rgb(60, 60, 60);
                color: #fff;
                &:hover {
                    color: #000;
                    background-color: #fff;
                    border-color: #fff;
                }
            }
            &.signUp {
                &:hover {
                    background-color: #000;
                    color: #fff;
                    border-color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 1500px) {
    header {
        .nav_links {
            p {
                margin: 0 1.4rem;
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    header {
        width: 95%;
    }
}

@media screen and (max-width: 1285px) {
    header {
        width: 90;
        .nav_links {
            p {
                font-size: 18px;
                margin: 0 1.25rem;
            }
        }
    }
}